body{
    color:blueviolet;
    background-color: black;
}

header {
    border-bottom: solid 2px red;
    padding-bottom: 20px;
    font-size: 32px;
    color: dodgerblue (42, 122, 228);
}

section{
    background-color: darkgray (117, 122, 112);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}